@model JobKitWebApp.Models.Connect

@{
    ViewBag.Title = "Add Connects";
}


<section class="ftco-section ftco-counter">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-1"><span>Payment Procedure</span> bKash</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ftco-animate">
                <ul class="category">
                    <li><a href="~/Settings/ProfileIntroduction">Profile Introduction</a></li>
                    <li><a href="~/Freelancers/ProfileInfo">My Profile</a></li>
                    <li><a href="~/Settings/ContactInfo">Contact Info</a></li>
                    <li><a href="~/Settings/Connects" style="color:white; background-color:#5dd28e">Connects</a></li>
                </ul>
            </div>
            <div class="col-md-9 ftco-animate">

                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "p-5 bg-white" }))
                {
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">bKash Payment Procedure</label>
                            <p class="mb-0 font-weight-bold" style="color:green">
                                1. Go to bKash Menu by dialing <span style="color:red">*247#</span>

                            </p>
                            <p class="mb-0 font-weight-bold" style="color:green">
                                2. Choose 'Payment' option by pressing <span style="color:red">3</span>

                            </p>
                            <p class="mb-0 font-weight-bold" style="color:green">
                                3. Enter our Merchant wallet number : <span style="color:red">018********</span>.

                            </p>
                            <p class="mb-0 font-weight-bold" style="color:green">
                                4. Enter BDT. <span style="color:red">@Model.ConnectPricing.Price</span>

                            </p>
                            <p class="mb-0 font-weight-bold" style="color:green">
                                5. Enter this reference against your payment : <span style="color:red">@Model.Refernce</span>

                            </p>
                            <p class="mb-0 font-weight-bold" style="color:green">
                                6. Enter the counter number : 1.

                            </p>
                            <p class="mb-0 font-weight-bold" style="color:green">
                                7. Now enter your PIN to confirm: xxxx.

                            </p>
                            <p class="mb-0 font-weight-bold" style="color:green">
                                8. Done!
                            </p>

                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</section>
